body{
    margin: 0;
    background-color: #FCEF91;
}
.phones , .image{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
}
.image img{
    width: 20%;
    height: 20%;
    border-radius: 50%;

}

.phone-type{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
}
div.calc{
    border: 1px solid black;
    width: 25%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#full-price{
    color: red;
}