input[type="checkbox"]:checked + li {
  text-decoration: line-through;
}

h1 {
  font-weight: 500;
}

ul {
  font-size: larger;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 0.6em;
}
div.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
div.containerText {
  display: flex;
  flex-direction: column;
}
